.sidebar {
  height: 100%;
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: midnightblue;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
}
.sidebar a p {
  margin-top: 20px;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar a button {
  margin: 50px;
  margin-left: 70px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  margin-left: 160px;
  padding: 0px 10px;
}
.schedule {
  margin-left: 360px;
}
.schedule h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
}
select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.fall-schedule {
  width: 600px;
  height: 300px;
  border: solid;
}
.winter-schedule {
  width: 600px;
  height: 300px;
  border: solid;
}
.save {
  margin-left: 300px;
  width: 60px;
  background-color: midnightblue;
  color: white;
  cursor: pointer;
}
.save:hover {
  color: midnightblue;
  background-color: white;
}
